body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f1f1f1;
}

/* ------------------------ */

.check-card {
  word-break: break-word;     /* 긴 문자열 자동 줄바꿈 */
}
.success {
  color: #1677ff;
}

.fail {
  color: red;
}

.fail-highlight {
  background-color: #ffc7ce;
}

.check-title {
  font-size: large;
  font-weight: 500;
  margin-bottom: 10px;
}

.check-container{
  padding : 5px
}

/* CheckUpload.js file */
.check-upload-wrapper {
  padding: 24px;
}

@media (max-width: 768px) {
  .check-upload-wrapper {
    padding: 3px;
  }
}