:root {
  /* 메인 포인트 색상 */
  --color-primary: #f65364;
  --color-primary-hover: #fd9ca9;
  
  /* 텍스트 */
  --color-text-main: #333333;
  --color-text-sub:  #444444;
  --color-text-active: var(--color-primary);

  /* 배경 */
  --color-info-bg: rgba(255, 255, 255, 0.85);
  --color-tag-bg:  rgba(111, 74, 246, 0.1);
  --color-shadow:  rgba(0, 0, 0, 0.1);

    /* 버튼 그림자 */
  --color-shadow-primary: rgba(111, 74, 246, 0.25);
}

.main-container {
  padding: 10px;
}